<h3>Room List</h3>
<table class="table">
	<tr>
		<td>ID</td>
		<td>Name</td>
		<th></th>
	</tr>

	<%_.each(rooms, function(room){ %>
		<tr>
			<td><%=room.id%></td>
			<td><%=room.name%></td>
			<td><a href="/room/show/<%=room.id%>" class="btn btn-sm btn-primary">JOIN</a></td>
		</tr>
	<% }) %>

</table>