<h3>Room List</h3>
<div>
	<table class="table">
		<tr>
			<th>id</th>
			<th>Name</th>
			<th></th>
			<th></th>
		</tr>
		<tbody id="room-list">

		</tbody>
	</table>
</div>

<script type="text/javascript">
	$(document).ready(function(){
		
		$.get('/room', function(res){
			// console.log(res);
			var tbody = $('#room-list');
			res.each(function(obj){
				tbody.append("<tr>");
				// tbody.append("<tr " + "id="+"'"+"roomid-"+obj.id+"'"+">");
				tbody.append("<td>"+obj.id+"</td>");
				tbody.append("<td>"+obj.name+"</td>");
				tbody.append("<td>"+"<a href="+'/room/show/'+obj.id+">JOIN</a>"+"</td>");

				<% if (session.User.admin == true) { %>
					tbody.append("<td>"+"<a href="+'/room/destroy/'+obj.id+">Delete</a>"+"</td>")
				<% } %>

				tbody.append("</tr>");

			});
		});

		socket.on('message',function(res){
			if (res.model == "room" && res.verb == "create"){
				var tbody = $('#room-list')
				tbody.append("<tr>");
				// tbody.append("<tr " + 'id='+'roomid-'+res.data.id'>');
				tbody.append("<td>"+res.data.id+"</td>");
				tbody.append("<td>"+res.data.name+"</td>");
				tbody.append("<td>"+"<a href="+'/room/show/'+res.data.id+">JOIN</a>"+"</td>");
				tbody.append("<td>"+"<a href="+'/room/destroy/'+res.data.id+">Delete</a>"+"</td>")
				tbody.append("</tr>");
			};
			console.log(res);
		});
	});
</script>