<div class="col-md-5">
  <form id='roomcreate' class="form-signin" action="/room/create" method="POST">
      
    <h2 class="form-signin-heading">Create a room</h2>

    <input class="form-control" type="text" placeholder="your name" name="name">
   
    <br>
   
    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Create Room">
    <input type="hidden" name="_csrf" value="<%=_csrf%>">
      
  </form>
</div>

