<h3 id="<%= room.name %>"><%= room.name %></h3>

<form id="outgoing-chat-form">
	<input size="50" type='text' id="outgoing-chat-field">
	<input type="submit">
</form>

<div id="incoming-chat-window"></div>


<script type="text/javascript">
	$(document).ready(function(){

		var data = { room: <%= room.name %> }
		socket.emit('subscribe',data);
		
		$('#outgoing-chat-form').submit(function(e){
			e.preventDefault();
			socket.emit('send message', $('#outgoing-chat-field').val());
			$('#outgoing-chat-field').val('');
		});

		socket.on('new message', function (data){
			$('#incoming-chat-window').append(data + '<br />');
		});

	});
</script>