<h3 id="<%= room.name %>"><%= room.name %></h3>

<form id="outgoing-chat-form">
	<input size="50" type='text' id="outgoing-chat-field">
	<input type="submit">
</form>

<div id="incoming-chat-window"></div>


<script type="text/javascript">
	$(document).ready(function(){


	});
</script>